table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 1rem;
}

.infoMessage {
  margin-bottom: 1rem;
  padding: 1rem;
}

.infoMessage.error {
  background-color: red;
  color: white;
}

.infoMessage.okay {
  background-color: green;
  color: white;
}
